

<footer> 
    <p> Phone: (916)-222-1849 </p>
    <p> Philadelphia ocations: Manayunk, Fishtown, Passyunk, and Center City</p> 
    <p> E-mail us at contact@psychiatryservices.org </p>
</footer>
</body>

</html>

<!-- we are closing our header here  -->