<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/> 
    <title>HEADER</title>
</head>
<body>
    <header class="headers">
        <nav>
    
            <% if (user) { %>

                <a style="text-decoration:none" href="/">HOME</a> 
            
                <a style="text-decoration:none" href="/appointments">SCHEDULING</a> 
            
                <a style="text-decoration:none" href="/appointments/index">MY APPOINTMENTS</a> 
            
                <a style="text-decoration:none" href="/logout">LOGOUT</a>
            
                <% } else { %>
                    
                <a style="text-decoration:none" href="/auth/google" class="login">LOGIN</a> 
                
                <% } %>
            
    
        </nav>
    </header>



