
<%- include('./partials/header') %>

<main>

<h1>Psychiatry Services Clinic</h1> <br>

    <h3> 
    Providing a variety of services such as medication management, 
    individual and group therapy, acupuncture, and massage therapy. 
    </h3><br>
    
    <h4>
    Our team is comprised of psychiatrists, therapists, and other professionals. 
    We offer tele-appointments and in person sessions. 
    </h4><br>

    <h5><br>
    We approach our patients in a holistic fashion,
    incorporating exercise and mindfulness into our core strategy. 
    We aim to build relationships with our clients to help 
    them change their life and seek their ideal state of mental well-being. </h3>
    </h5> <br>

<nav>
<% if (user) { %>
    <a href="/appointments">Schedule an appointment today! </a> <br> 
     <!-- i think this needs to be /scheduling? 
     we will use ejs/javaScript to create a function that should only disclose the the schecule appointment link above if you are logged in
     we also need to create a log in button 
   -->
   <% } %>
</nav>

</main>


<%- include('./partials/footer') %>
