<!DOCTYPE html>
<html class="allpages" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/> 
    <title>Psychiatric Services</title>
</head>
<body>
    <h1>Psychiatry Services</h1>

    <a href="/appointments">Schedule an appointment today! </a>
   

</body>
</html> 