<!DOCTYPE html>
<html class="allpages" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/> 
    <title>Psychiatric Services</title>
</head>


<header>
    <a href="/auth/google" class="login">LOG IN</a> <br>

    <a href="/logout">LOG OUT</a>
</header>


<body>
    <h1>Psychiatry Services</h1>

    <a href="/appointments">Schedule an appointment today! </a> <br>
    <!-- we will use ejs/javaScript to create a function that should only disclose the the schecule appointment link above if you are logged in
    // we also need to create a log in button -->
   
</body>
</html> 