
<%- include('./partials/header') %>

<main>

<h1>Psychiatry Services</h1>


<nav>
<% if (user) { %>
    <a href="/appointments">Schedule an appointment today! </a> <br> 
     <!-- i think this needs to be /scheduling? 
     we will use ejs/javaScript to create a function that should only disclose the the schecule appointment link above if you are logged in
     we also need to create a log in button 
   -->
   <% } %>
</nav>

</main>


<%- include('./partials/footer') %>
