<!-- <!DOCTYPE html>
<html class="allpages" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/> 
    <title>Scheduling</title>
</head> -->


<header><%- include('../partials/header') %></header>


<main>
    <h1>Schedule Appointment</h1>

    <form action="/appointments" method="POST">
    <label> Name: </label>
    <input type="text" name="name" placeholder=" FirstName LastName" required><br>

    <label>Date of Birth:</label>
    <input type="date" name="dob" min="1923-01-01" required><br>
    <!-- /*We need to come back to this to only allow 18+ to book/ populate a message*/ -->

    <label>Location:</label>
    <select name="location" required>
        <option value="" disabled selected hidden>Select Philadelphia Locations</option> 
        <option value="Passyunk">Passyunk</option>
        <option value="Fishtown">Fishtown</option>
        <option value="Center City">Center City</option>
        <option value="Manayunk">Manayunk</option>
    </select><br>

    <label>Appointment Date</label>
    <input type="date" name="date" required><br>

    <input type="submit" value="Create Appointment">
    </form>

</main>


<!-- /* we now need a button that will say create appointment*/
/* when clicked we want to be taken to a confirmation page/pop up that will give us appt details
/*at the bottom of that page we will also have a link that will say view my appointments */ -->
<%- include('../partials/footer') %>